{{> header}}

<p>A new applicant has applied for a job.</p>

<p><strong>Name:</strong> {{name}}</p>
<p><strong>DOB:</strong> {{dob}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phone}}</p>
<p><strong>Address:</strong><br> 
  {{addressLine1}}, {{addressLine2}},<br>
  {{city}}, {{state}} - {{zip}}
</p>

<p>The applicant's resume is attached.</p>

{{> footer}}